@model EcommerceStore.Models.Admin




<form asp-action="Add" method="post" enctype="multipart/form-data">


    <input type="text" asp-for="UserName" placeholder="UserName" />
    <br />
    <br />

    <input type="password" asp-for="Password" placeholder="Password" />
    <br />
    <br />

    

    <input type="text" asp-for="Status" placeholder="Status" />
    <br />
    <br />

    <input type="text" asp-for="Role" placeholder="Role" />
    <br />
    <br />

    <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" />
    <br />
    <br />

    <input type="text" asp-for="CreatedDate" placeholder="CreatedDate" />
    <br />
    <br />

    <input type="text" asp-for="ModifiedDate" placeholder="ModifiedDate" />
    <br />
    <br />

    <input type="text" asp-for="ModifyBy" placeholder="ModifyBy" />
    <br />
    <br />

    <input type="text" asp-for="Status" placeholder="Status" />
    <br />

    <input type="text" asp-for="SystemUserId" placeholder="SystemUserId" />
    <br />
    <br />

    <input type="file" name="img" />
    <br />
    <br />

    <input type="submit" value="save" />






</form>