@model EcommerceStore.Models.Seller




<form asp-action="Add" method="post" enctype="multipart/form-data">


    <input type="text" asp-for="Name" placeholder="Name" />
    <br />
    <br />

    <input type="text" asp-for="Address" placeholder="Address" />
    <br />
    <br />

    <input type="text" asp-for="PhoneNumber" placeholder="PhoneNumber" />
    <br />

    <input type="text" asp-for="Status" placeholder="Status" />
    <br />
    <br />

    <input type="text" asp-for="Role" placeholder="Role" />
    <br />
    <br />

    <input type="text" asp-for="JoinDate" placeholder="JoinDate" />
    <br />
    <br />

  
     <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" />
    <br />
    <br />

    <input type="text" asp-for="CreatedDate" placeholder="CreatedDate" />
    <br />
    <br />

    <input type="text" asp-for="ModifiedDate" placeholder="ModifiedDate" />
    <br />
    <br />

    <input type="text" asp-for="ModifyBy" placeholder="ModifyBy" />
    <br />
    <br />
    <select asp-for="Status">

        <option value="active">Active</option>
        <option value="inactive">Inactive</option>




    </select>
    
    <br />

    <input type="text" asp-for="SystemUserId" placeholder="SystemUserId" />
    <br />
    <br />

    <input type="file" name="imgs" />
    <br />
    <br />

    <input type="submit" value="save" />






</form>