@model EcommerceStore.Models.Order

<form method="post" action="Add">

    <input type="text" asp-for="Quantity" placeholder="quantity" />
    <br />
    <br />
    <input type="text" asp-for="CustomerId" placeholder="quantity" />
    <br />
    <br />
    <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" />
    <br />
    <br />
    <input type="datetime" asp-for="CreatedDate" placeholder="CreatedDate" />
    <br />
    <br />
    <input type="text" asp-for="ModifyBy" placeholder="ModifyBy" />
    <br />
    <br />

    <input type="datetime" asp-for="ModifiedDate" placeholder="ModifiedDate" />
    <br />
    <br />
    <input type="text" asp-for="ProductId" placeholder="ProductId" />
    <br />
    <br />
    <select asp-for="Status">

        <option value="active">Active</option>
        <option value="inactive">Inactive</option>




    </select>
    <br />
    <br />
    <input type="text"  asp-for="OrderDetail" placeholder="order Detail" />
    <br />
    <br />

    <input type="submit" value="save" />







</form>