@model EcommerceStore.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>



<form  asp-action="Add" method="post" enctype="multipart/form-data">

    <label>Name</label>
    <input type="text" asp-for="Name" placeholder="Name"/>
    <br />
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" placeholder="Description"/>
    <br />
    <br />
    <label>Price</label>
    <input type="text" asp-for="Price" placeholder="Price" />
    <br />
    <br /><label>Quantity</label>
    <input type="text" asp-for="Quantity" placeholder="Quantity" />
    <br />
    <br />
    <label>CategoryId</label>
    <input type="text" asp-for="CategoryId" placeholder="CategoryId" />
    <br />
    <br />
    <label>CreatedBy</label>
    <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" />
    <br />
    <br />
    <label>CreatedDate</label>
    <input type="text" asp-for="CreatedDate" placeholder="CreatedDate" />
    <br />
    <br />
    <label>ModifiedDate</label>
    <input type="text" asp-for="ModifiedDate" placeholder="ModifiedDate" />
    <br />
    <br />
    <label>ModifyBy</label>
    <input type="text" asp-for="ModifyBy" placeholder="ModifyBy" />
    <br />
    <br />
   
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           
                <option value="Active" asp-for="Status" class="dropdown-item">Active</option>
                <option value="InActive" asp-for="Status" class="dropdown-item">InActive</option>
         
                
        </div>
        </div>










    <br />
    <br />




    <label>Image</label>
    <input type="file" name="img" />
    <br />
    <br />
    <label>save</label>
    <input type="submit" value="save"/>






</form>

</body>
